In [12]:
import sys

# Add the parent directory to the system path
sys.path.append(r'C:\Users\kaise\OneDrive\Desktop\Codebase\FYP\utils')

In [13]:
import re
import requests
import geopandas as gpd
import numpy as np
import pandas as pd
from read_df_from_s3 import read_df_from_s3
from shapely.geometry import Point
from concurrent.futures import ThreadPoolExecutor, as_completed
from datetime import datetime

date = "2024-01-26"
df = read_df_from_s3(f"rental_prices/ninety_nine/processed_v2/{date}.parquet.gzip")
print(f"Dataframe downloaded with shape {df.shape}")

Dataframe downloaded with shape (2748, 22)

In [2]:
df.head()

,property_name,listing_id,district,price,bedroom,bathroom,dimensions,address,price/sqft,floor_level,...,built_year,tenure,property_type,url,facilities,building_name,nearest_mrt,distance_to_nearest_mrt,latitude,longitude
0,2 Bed Condo in Marina One Residences,4dNy8WuJGt9TknKjKJ4DXy,Boat Quay / Raffles Place / Marina,"$7,400/mo",2 Beds,2 Baths,"1,176 sqft",23 Marina Way,$6.29 psf,None,...,2018.0,99-year leasehold,Apartment Whole Unit,https://www.99.co/singapore/rent/property/mari...,"['Pool Deck', 'Hydrotherapy Pool', 'Wading Poo...",Marina One Residences,Marina Bay,219.281,1.27671498507474,103.853326932298
1,1 Bed Condo in The Sail @ Marina Bay,oQroUcBdTUjvUSMTYKtiZg,Boat Quay / Raffles Place / Marina,"$4,790/mo",1 Bed,1 Bath,667 sqft,4 Marina Boulevard,$7.18 psf,High,...,2008.0,99-year leasehold,Apartment Whole Unit,https://www.99.co/singapore/rent/property/the-...,"['Sky Terrace', 'Washer', 'Steam Room', 'Oven'...",The Sail @ Marina Bay,Downtown,149.256,1.28076943504219,103.852658562152
2,2 Bed Condo in V On Shenton,LZvu3LEYKKJ2RQgcthrtcn,Boat Quay / Raffles Place / Marina,"$6,500/mo",2 Beds,2 Baths,"1,055 sqft",5A Shenton Way,$6.16 psf,Mid,...,2017.0,99-year leasehold,Condo Whole Unit,https://www.99.co/singapore/rent/property/v-on...,"['Spa Pool', 'Aircon', 'Fitness Corner', 'Fibr...",V On Shenton,Shenton Way,171.428,1.27708340707631,103.849181343548
3,Studio Condo in V On Shenton,MWASUKzWmFZWRKsnERisRK,Boat Quay / Raffles Place / Marina,"$3,388/mo",Studio,1 Bath,474 sqft,5A Shenton Way,$7.15 psf,Low,...,2017.0,99-year leasehold,Apartment Whole Unit,https://www.99.co/singapore/rent/property/v-on...,"['Spa Pool', 'Underwater Fitness Station', 'Ou...",V On Shenton,Shenton Way,171.428,1.27708340707631,103.849181343548
4,4 Bed Condo in The Sail @ Marina Bay,GsmAMQH99u3HkSxnAzaTQV,Boat Quay / Raffles Place / Marina,"$11,999/mo",4 Beds,3 Baths,"2,077 sqft",2 Marina Boulevard,$5.78 psf,High,...,2008.0,99-year leasehold,Apartment Whole Unit,https://www.99.co/singapore/rent/property/the-...,"['Jogging Track', 'Tennis Court', 'Fun Pool', ...",The Sail @ Marina Bay,Downtown,149.256,1.28076943504219,103.852658562152

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748 entries, 0 to 2747
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   property_name            2748 non-null   object
 1   listing_id               2748 non-null   object
 2   district                 2748 non-null   object
 3   price                    2748 non-null   object
 4   bedroom                  2748 non-null   object
 5   bathroom                 2398 non-null   object
 6   dimensions               2748 non-null   object
 7   address                  2748 non-null   object
 8   price/sqft               2748 non-null   object
 9   floor_level              1896 non-null   object
 10  furnishing               2629 non-null   object
 11  facing                   601 non-null    object
 12  built_year               2666 non-null   float64
 13  tenure                   2685 non-null   object
 14  property_type            2748 non-null   object
 15  url                      2748 non-null   object
 16  facilities               2748 non-null   object
 17  building_name            2748 non-null   object
 18  nearest_mrt              2582 non-null   object
 19  distance_to_nearest_mrt  2582 non-null   float64
 20  latitude                 2582 non-null   object
 21  longitude                2582 non-null   object
dtypes: float64(2), object(20)
memory usage: 472.4+ KB

In [4]:
df.isna().sum()

property_name                 0
listing_id                    0
district                      0
price                         0
bedroom                       0
bathroom                    350
dimensions                    0
address                       0
price/sqft                    0
floor_level                 852
furnishing                  119
facing                     2147
built_year                   82
tenure                       63
property_type                 0
url                           0
facilities                    0
building_name                 0
nearest_mrt                 166
distance_to_nearest_mrt     166
latitude                    166
longitude                   166
dtype: int64

Duplicate listing IDs -> Only leave the one with the correct district

In [5]:
len(df[df.duplicated(subset='listing_id', keep=False)])

2195

Problem with the **address** column (Typically HDBs / Landed) -> Replace with the building name

In [6]:
all = df[df['address'].str.contains('For Rent', case=False)]
len(all)

632

Missing coordinates -> Retrieve with OneMap API

In [7]:
df[df['latitude'].isna() | df['longitude'].isna()]

,property_name,listing_id,district,price,bedroom,bathroom,dimensions,address,price/sqft,floor_level,...,built_year,tenure,property_type,url,facilities,building_name,nearest_mrt,distance_to_nearest_mrt,latitude,longitude
40,6 Bed House on Wilkinson Road,R3wC4GWBFKGuynWHef7afU,Boat Quay / Raffles Place / Marina,"$15,000/mo",6 Beds,7 Baths,"7,200 sqft (built-up)",Landed House for Rent,$2.08 psf,None,...,NaN,None,Semi-Detached House,https://www.99.co/singapore/rent/property/wilk...,"['Renovated', 'High Ceiling', 'Fibre Ready', '...",6 Bed House on Wilkinson Road,None,NaN,None,None
54,5 Bed House on Cluny Park Road,m82ubNLmdiWhH4mCaC4vLe,Boat Quay / Raffles Place / Marina,"$78,000/mo",5 Beds,7 Baths,"7,736 sqft (built-up)",Landed House for Rent,$10.08 psf,None,...,NaN,None,Good Class Bungalow,https://www.99.co/singapore/rent/property/clun...,"['Fridge', 'Maid Room', 'Aircon', 'Stove', 'Wa...",5 Bed House on Cluny Park Road,None,NaN,None,None
80,2 Bed Condo in D'ixoras,kA9bRLSr5X93z6MkCg4CT5,Boat Quay / Raffles Place / Marina,"$4,600/mo",2 Beds,2 Baths,840 sqft,23 Minbu Road,$5.48 psf,High,...,2013.0,Freehold,Apartment Whole Unit,https://www.99.co/singapore/rent/property/dixo...,"['Parking', 'Bomb Shelter', 'BBQ', 'Swimming P...",D'ixoras,None,NaN,None,None
144,4 Bed House on Alana,8dWpH9r8Y4GE62Lmc8JtPG,Chinatown / Tanjong Pagar,"$8,700/mo",4 Beds,4 Baths,"3,057 sqft (built-up)",Sunrise Terrace,$2.85 psf,None,...,NaN,103-year leasehold,Terraced House,https://www.99.co/singapore/rent/property/sunr...,"['Pavilion', 'Spa Pool', 'Pool Deck', 'Patio /...",4 Bed House on Alana,None,NaN,None,None
154,5 Bed House on Shamrock Park,XCTfCbw3axroufTVW37Fsm,Chinatown / Tanjong Pagar,"$25,000/mo",5 Beds,6 Baths,"7,000 sqft (built-up)",Namly Grove,$3.57 psf,None,...,2008.0,Freehold,Bungalow,https://www.99.co/singapore/rent/property/naml...,"['Maid Room', 'Fibre Ready', 'High Ceiling', '...",5 Bed House on Shamrock Park,None,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2675,4 Bed House on Seletar Hills Estate,mKYhXTDbgK7PGCxdx3g9fd,Seletar / Yio Chu Kang,"$6,500/mo",4 Beds,5 Baths,"3,336 sqft (built-up)",Seletar Hills Drive,$1.95 psf,None,...,NaN,None,Cluster House,https://www.99.co/singapore/rent/property/sele...,"['Maid Room', 'Corner Unit', 'Bomb Shelter']",4 Bed House on Seletar Hills Estate,None,NaN,None,None
2677,5 Bed House on Este Villa,WpEWyqfwYxpm3DwgEqsmtn,Seletar / Yio Chu Kang,"$7,800/mo",5 Beds,5 Baths,"3,359 sqft (built-up)",Nim Road,$2.32 psf,None,...,2013.0,Freehold,Cluster House,https://www.99.co/singapore/rent/property/nim-...,"['Patio / PES', 'Clubhouse', 'Maid Room', 'Swi...",5 Bed House on Este Villa,None,NaN,None,None
2679,5 Bed House on Seletar Park,kXTMyPoJseLDoDcAZBiJWT,Seletar / Yio Chu Kang,"$8,000/mo",5 Beds,5 Baths,"2,500 sqft (built-up)",Landed House for Rent,$3.2 psf,None,...,1986.0,999-year leasehold,Semi-Detached House,https://www.99.co/singapore/rent/property/prop...,[],5 Bed House on Seletar Park,None,NaN,None,None
2680,5 Bed House on Seletar Park,XXv6kUVJwmQHhu7FeYgWtc,Seletar / Yio Chu Kang,"$9,300/mo",5 Beds,5 Baths,"3,000 sqft (built-up)",Landed House for Rent,$3.1 psf,None,...,1986.0,999-year leasehold,Semi-Detached House,https://www.99.co/singapore/rent/property/prop...,[],5 Bed House on Seletar Park,None,NaN,None,None
2700,3 Bed Condo in The Woodleigh Residences / The ...,UemAzHRM3vcWUBkQMLb2Ee,Seletar / Yio Chu Kang,"$7,500/mo",3 Beds,3 Baths,"1,076 sqft",29 Bidadari Park Drive,$6.97 psf,None,...,2023.0,99-year leasehold,Apartment Whole Unit,https://www.99.co/singapore/rent/property/the-...,"['Stove', 'Study Room', 'Maid Room', 'Pavilion...",The Woodleigh Residences / The Woodleigh Mall,None,NaN,None,None

Convert to categorical

In [8]:
df['floor_level'].unique()

array([None, 'High', 'Mid', 'Low', 'High (42 total)', 'Ground',
       'Penthouse', 'Top', 'High (15 total)', 'High (44 total)',
       'Mid (18 total)', 'Low (8 total)', 'High (31 total)',
       'Top (10 total)', 'High (19 total)'], dtype=object)

In [9]:
df['facing'].unique()

array(['South East', 'South West', 'South', None, 'North', 'North East',
       'East', 'North West', 'West'], dtype=object)

In [10]:
df['furnishing'].unique()

array(['Partial', 'Fully', None, 'Unfurnished', 'Flexible'], dtype=object)

In [11]:
df['tenure'].unique()

array(['99-year leasehold', None, 'Freehold', '999-year leasehold',
       '103-year leasehold', '956-year leasehold', '929-year leasehold',
       '946-year leasehold', '60-year leasehold', '100-year leasehold'],
      dtype=object)

In [12]:
df['property_type'].unique()

array(['Apartment Whole Unit ', 'Condo Whole Unit ', 'Apartment', 'Condo',
       'HDB 5 Rooms', 'Semi-Detached House', 'HDB', 'Corner Terrace ',
       'Executive Condo Whole Unit ', 'Good Class Bungalow ',
       'Executive Condo', 'HDB 3 Rooms', 'HDB 4 Rooms', 'HDB 2 Rooms',
       'Terraced House ', 'Bungalow ', 'HDB Executive', 'Shophouse ',
       'Land Only', 'Conservation House ', 'Cluster House ', 'Townhouse '],
      dtype=object)

# Data Preprocessing

Add **building_name** column

In [13]:
df['building_name'] = df['property_name'].apply(lambda x: x.split(" in ")[-1])
len(df['building_name'].unique())

640

Fix **address** column

In [14]:
indexes = df.loc[df['address'].str.contains(
    'Landed House For Rent', case=False)].index
df.loc[indexes, 'address'] = df.loc[indexes,
                                    'building_name'].apply(lambda x: [s.strip() for s in re.split(r'\bon\b|\bin\b', x) if s.strip()][-1])
df.loc[indexes, ['address', 'property_name', 'building_name']]

,address,property_name,building_name
40,Wilkinson Road,6 Bed House on Wilkinson Road,6 Bed House on Wilkinson Road
54,Cluny Park Road,5 Bed House on Cluny Park Road,5 Bed House on Cluny Park Road
73,Jalan Kembangan,Master Room in Jalan Kembangan,Jalan Kembangan
145,Jalan Raya,Common Room in Jalan Raya,Jalan Raya
181,Lim Tai See Walk,5 Bed House on Lim Tai See Walk,5 Bed House on Lim Tai See Walk
265,Ceylon Road,6 Bed House on Ceylon Road,6 Bed House on Ceylon Road
469,Jalan Senyum,6 Bed House on Jalan Senyum,6 Bed House on Jalan Senyum
506,Armenian Street,Studio House on Armenian Street,Studio House on Armenian Street
559,Yio Chu Kang Road,Master Room in Yio Chu Kang Road,Yio Chu Kang Road
596,Jalan Senyum,6 Bed House on Jalan Senyum,6 Bed House on Jalan Senyum
671,Yio Chu Kang Road,Master Room in Yio Chu Kang Road,Yio Chu Kang Road
718,Serangoon Road,Master Room in Serangoon Road,Serangoon Road
728,Perak Road,Master Room in Perak Road,Perak Road
734,Starlight Road,2 Bed House on Starlight Road,2 Bed House on Starlight Road
735,Starlight Road,4 Bed House on Starlight Road,4 Bed House on Starlight Road
736,Starlight Road,2 Bed House on Starlight Road,2 Bed House on Starlight Road
774,Yio Chu Kang Road,Master Room in Yio Chu Kang Road,Yio Chu Kang Road
876,Yio Chu Kang Road,Master Room in Yio Chu Kang Road,Yio Chu Kang Road
933,Lim Tai See Walk,5 Bed House on Lim Tai See Walk,5 Bed House on Lim Tai See Walk
938,Cluny Park Road,5 Bed House on Cluny Park Road,5 Bed House on Cluny Park Road
980,Jalan Kembangan,Master Room in Jalan Kembangan,Jalan Kembangan
995,Jalan Kembangan,Master Room in Jalan Kembangan,Jalan Kembangan
1044,Kheam Hock Road,Master Room in Kheam Hock Road,Kheam Hock Road
1048,Wilkinson Road,6 Bed House on Wilkinson Road,6 Bed House on Wilkinson Road
1084,Kew Terrace,5 Bed House on Kew Terrace,5 Bed House on Kew Terrace
1150,Lim Tai See Walk,5 Bed House on Lim Tai See Walk,5 Bed House on Lim Tai See Walk
1156,Cluny Park Road,5 Bed House on Cluny Park Road,5 Bed House on Cluny Park Road
1213,Jalan Raya,Common Room in Jalan Raya,Jalan Raya
1227,Macpherson Garden Estate,4 Bed House on Macpherson Garden Estate,4 Bed House on Macpherson Garden Estate
1233,Macpherson Garden Estate,6 Bed House on Macpherson Garden Estate,6 Bed House on Macpherson Garden Estate
1269,Yio Chu Kang Road,Master Room in Yio Chu Kang Road,Yio Chu Kang Road
1311,Jalan Raya,Common Room in Jalan Raya,Jalan Raya
1314,Jalan Senyum,6 Bed House on Jalan Senyum,6 Bed House on Jalan Senyum
1331,Jalan Kembangan,Master Room in Jalan Kembangan,Jalan Kembangan
1342,Jalan Senyum,6 Bed House on Jalan Senyum,6 Bed House on Jalan Senyum
1343,Geylang Road,Master Room in Geylang Road,Geylang Road
1354,Ceylon Road,6 Bed House on Ceylon Road,6 Bed House on Ceylon Road
1380,Jalan Senyum,6 Bed House on Jalan Senyum,6 Bed House on Jalan Senyum
1417,Ceylon Road,6 Bed House on Ceylon Road,6 Bed House on Ceylon Road
1426,Wilkinson Road,6 Bed House on Wilkinson Road,6 Bed House on Wilkinson Road
1447,Onan Road,Studio House on Onan Road,Studio House on Onan Road
1510,Ceylon Road,6 Bed House on Ceylon Road,6 Bed House on Ceylon Road
1527,Kew Terrace,5 Bed House on Kew Terrace,5 Bed House on Kew Terrace
1537,Upper Changi Road East,Master Room in Upper Changi Road East,Upper Changi Road East
1540,Jalan Haji Salam,5 Bed House on Jalan Haji Salam,5 Bed House on Jalan Haji Salam
1548,East Coast Hill,7 Bed House on East Coast Hill,7 Bed House on East Coast Hill
1648,Tanah Merah Besar Lane,3 Bed House on Tanah Merah Besar Lane,3 Bed House on Tanah Merah Besar Lane
1842,Yio Chu Kang Road,Master Room in Yio Chu Kang Road,Yio Chu Kang Road
2047,Hua Guan Avenue,4 Bed House on Hua Guan Avenue,4 Bed House on Hua Guan Avenue
2367,Woodgrove Avenue,6 Bed House on Woodgrove Avenue,6 Bed House on Woodgrove Avenue
2463,Countryside View,4 Bed House on Countryside View,4 Bed House on Countryside View
2465,Countryside Grove,3 Bed House on Countryside Grove,3 Bed House on Countryside Grove
2679,Seletar Park,5 Bed House on Seletar Park,5 Bed House on Seletar Park
2680,Seletar Park,5 Bed House on Seletar Park,5 Bed House on Seletar Park

In [15]:
indexes = df.loc[df['address'].str.contains('For Rent', case=False)].index
df.loc[indexes, 'address'] = df.loc[indexes, 'building_name']
df.loc[indexes, ['address', 'property_name', 'building_name']]

,address,property_name,building_name
39,316 Sembawang Vista,5 Room HDB in 316 Sembawang Vista,316 Sembawang Vista
45,18D Holland Drive,Common Room in 18D Holland Drive,18D Holland Drive
47,194 Rivervale Drive,Common Room in 194 Rivervale Drive,194 Rivervale Drive
50,643 Punggol Central,5 Room HDB in 643 Punggol Central,643 Punggol Central
55,163 Simei Road,5 Room HDB in 163 Simei Road,163 Simei Road
...,...,...,...
2723,89 Bedok North Street 4,4 Room HDB in 89 Bedok North Street 4,89 Bedok North Street 4
2725,425 Choa Chu Kang Avenue 4,Common Room in 425 Choa Chu Kang Avenue 4,425 Choa Chu Kang Avenue 4
2727,5 Marine Terrace,3 Room HDB in 5 Marine Terrace,5 Marine Terrace
2736,338D Anchorvale Crescent,5 Room HDB in 338D Anchorvale Crescent,338D Anchorvale Crescent
2740,177 Woodlands Street 13,4 Room HDB in 177 Woodlands Street 13,177 Woodlands Street 13

In [16]:
building_map = {}
for building_name, group in df.groupby('building_name'):
    for _, row in group.iterrows():
        if pd.isna(row['latitude']) or pd.isna(row['longitude']):
            continue

        building_map[building_name] = (row['latitude'], row['longitude'])
        break
print(building_map)

{'103B Bidadari Park Drive': ('1.33508945420373', '103.871337279805'), '106 Jurong East Street 13': ('1.33724965052823', '103.737674650927'), '106A Depot Road': ('1.28061364977894', '103.810967870883'), '107 Yishun Ring Road': ('1.43221807625653', '103.827520202898'), '108 Potong Pasir Avenue 1': ('1.33472004322162', '103.867928446438'), '108C Mcnair Road': ('1.31984417513752', '103.859462494536'), '113 Clementi Street 13': ('1.32368401078529', '103.77013234931'), '116 Clementi Street 13': ('1.32411253933745', '103.771925036203'), '116 Lorong 2 Toa Payoh': ('1.34047287241805', '103.846142516335'), '116A Rivervale Drive': ('1.38246038121425', '103.902238675198'), '117 Ang Mo Kio Avenue 4': ('1.3737170825368', '103.835610469339'), '118 Alkaff Crescent': ('1.33731461799125', '103.873879971632'), '120 Grange': ('1.29997909930352', '103.825522814492'), '121 Ang Mo Kio Avenue 3': ('1.36970563478325', '103.843515981311'), '122A Edgedale Plains': ('1.39350981217359', '103.909106562659'), '127C Kim Tian Road': ('1.28152280420004', '103.830035757166'), '129 Bukit Merah View': ('1.28357870505897', '103.823819207962'), '130B Lorong 1 Toa Payoh': ('1.33737735210716', '103.842656049195'), '132 Edgedale Plains': ('1.3930694988303', '103.910698497279'), '138A Lorong 1A Toa Payoh': ('1.33671098513786', '103.845472945511'), '138C Lorong 1A Toa Payoh': ('1.33626413671063', '103.844907413472'), '139A Lorong 1A Toa Payoh': ('1.33627775831234', '103.844044881122'), '143 Rivervale Drive': ('1.39006592833714', '103.905723427087'), '145 Lorong 2 Toa Payoh': ('1.33521035428159', '103.846162940767'), '14A Telok Blangah Crescent': ('1.27776030069589', '103.820730062207'), '15 Telok Blangah Crescent': ('1.27706044815472', '103.82076205842'), '156 Woodlands Street 13': ('1.43421027208486', '103.774283872761'), '158B Rivervale Crescent': ('1.38841338018717', '103.906676179338'), '16 Teck Whye Lane': ('1.37842710387364', '103.754911815576'), '160 Woodlands Street 13': ('1.43333328424957', '103.774921567416'), '163 Simei Road': ('1.34600508966501', '103.959200557679'), '163 Woodlands Street 13': ('1.43300314047395', '103.773984220509'), '163A Punggol Central': ('1.39550060247735', '103.914059779581'), '17 Cantonment Close': ('1.27383556871582', '103.839844255368'), '17 Telok Blangah Crescent': ('1.27776786253278', '103.821702419401'), '176 Bishan Street 13': ('1.34814264813403', '103.853911806894'), '177 Woodlands Street 13': ('1.43435791362603', '103.778088434368'), '18 Woodsville': ('1.32958044212107', '103.868188327271'), '181 Ang Mo Kio Avenue 5': ('1.37679309896347', '103.837142240849'), '184 Yung Sheng Road': ('1.33332140109047', '103.722288614113'), '18D Holland Drive': ('1.30998398427407', '103.792601366744'), '194 Rivervale Drive': ('1.39260955810937', '103.901592560709'), '196 Rivervale Drive': ('1.39283679521508', '103.903146292304'), '197D Boon Lay Drive': ('1.34360788239264', '103.713869407659'), '199 Boon Lay Drive': ('1.3437063240188', '103.714484938377'), '1A Cantonment Road': ('1.27784271048219', '103.840965923691'), '1B Cantonment Road': ('1.27779940676005', '103.841403430465'), '1E Cantonment Road': ('1.27662168290503', '103.841156133831'), '2 Everton Park': ('1.27741630337522', '103.839330846341'), '200B Sengkang East Road': ('1.3870653779354', '103.892735553222'), '203 Jurong East Street 21': ('1.33683389097317', '103.742544497471'), '209C Compassvale Lane': ('1.38399373466045', '103.899173530483'), '210B Clementi Avenue 6': ('1.32290892512593', '103.763155616264'), '213 Bishan Street 23': ('1.35717823903778', '103.848152949178'), '215 Bukit Batok Street 21': ('1.34677496682495', '103.753335942926'), '216 Marsiling Lane': ('1.44713415109784', '103.772172059269'), '216 Yishun Street 21': ('1.4322759133834', '103.836404106464'), '228 Simei Street 4': ('1.34255218902353', '103.95604089383'), '229 Jurong East Street 21': ('1.34183055675235', '103.738020275061'), '23 Sin Ming Road': ('1.3543527093097', '103.835823721667'), '230 Bukit Batok East Avenue 3': ('1.34771540923723', '103.754994802909'), '235 Yishun Street 21': ('1.43422889283755', '103.838543994351'), '237 Lorong 1 Toa Payoh': ('1.33977315087539', '103.852242265569'), '238 Bishan Street 22': ('1.3597368747274', '103.844696133217'), '24 Verdun Road': ('1.31017884611395', '103.856497461872'), '241 Tampines Street 21': ('1.35461516668329', '103.947116640698'), '246 Yishun Avenue 9': ('1.43509085774181', '103.84269104902'), '249 Yishun Avenue 9': ('1.43524068670504', '103.841852407535'), '259 Boon Lay Drive': ('1.34551436245234', '103.708635583627'), '261 Toa Payoh East': ('1.33350386216852', '103.855237846252'), '267 Boon Lay Drive': ('1.34644748042226', '103.706946815266'), '269 Toh Guan Road': ('1.34146035006385', '103.74567772942'), '272 Bishan Street 24': ('1.35629489446383', '103.842822596127'), '274B Jurong West Street 25': ('1.3528655530538', '103.703280481903'), '277 Tampines Street 22': ('1.34727819641372', '103.951193517105'), '278 Toh Guan Road': ('1.34090157770535', '103.746437082019'), '289 Choa Chu Kang Avenue 3': ('1.37927183528093', '103.74066488084'), '29 Kelantan Road': ('1.30573440556914', '103.857121480845'), '30 New Upper Changi Road': ('1.32352678248226', '103.936423896498'), '309A Ang Mo Kio Street 31': ('1.36502933267756', '103.845300649183'), '31 Balam Road': ('1.32968232972727', '103.885407998763'), '31 Marsiling Drive': ('1.44298595480646', '103.772342694658'), '311C Clementi Avenue 4': ('1.32010579446331', '103.765573473984'), '316 Sembawang Vista': ('1.44634275472687', '103.820816616633'), '317 Jurong East Street 31': ('1.3466798351223', '103.731141908994'), '317A Yishun Avenue 9': ('1.43450592896688', '103.843292004282'), '32 Jalan Bukit Ho Swee': ('1.28742122514492', '103.828415534676'), '32 Penhas Road': ('1.30946239045228', '103.862296972346'), '322 Bukit Batok Street 33': ('1.36166738427595', '103.747725025434'), '326 Yishun Ring Road': ('1.42955104737326', '103.84243972426'), '327 Ang Mo Kio Avenue 3': ('1.36705284380639', '103.846987446489'), '327 Clementi Avenue 5': ('1.31398325156569', '103.766533052946'), '33 Marine Crescent': ('1.30264896606627', '103.912184784558'), '336 Jurong East Avenue 1': ('1.35041039841488', '103.731481482818'), '336B Yishun Street 31': ('1.43137338046797', '103.844331402418'), '337C Tah Ching Road': ('1.33719034617161', '103.722003986224'), '338D Anchorvale Crescent': ('1.39970005035247', '103.888714059734'), '342B Yishun Ring Road': ('1.43024596089696', '103.844838329615'), '354D Admiralty Drive': ('1.45078388181645', '103.818644888494'), '36 Cassia Crescent': ('1.30982050865202', '103.885072242608'), '361 Woodlands Avenue 5': ('1.43390675630046', '103.784818819684'), '371 Jurong East Street 32': ('1.3483083591294', '103.731919903016'), '377 Clementi Avenue 5': ('1.31756398951141', '103.767975202583'), '39A Bendemeer Road': ('1.3201793852072', '103.866365809133'), '4 Changi Village Road': ('1.38909635615366', '103.98746284567'), '404 Bedok North Avenue 3': ('1.32937492395032', '103.933926939087'), '414B Fernvale Link': ('1.39001961783905', '103.879574314696'), '416B Fernvale Link': ('1.39048519034443', '103.880509545623'), '41A Margaret Drive': ('1.29689297904217', '103.80682180549'), '42 Telok Blangah Rise': ('1.2709187086214', '103.822685388438'), '425 Choa Chu Kang Avenue 4': ('1.38121893045435', '103.739482403988'), '42A Margaret Drive': ('1.29679541465289', '103.807326025942'), '431 Ang Mo Kio Avenue 10': ('1.36822021035822', '103.852978892068'), '431A Yishun Avenue 1': ('1.41960682497896', '103.84728823711'), '442C Fajar Road': ('1.38148756854256', '103.770942229271'), '453 Choa Chu Kang Avenue 4': ('1.37997802767876', '103.73490597126'), '456 Choa Chu Kang Avenue 4': ('1.3790217623655', '103.735214746213'), '456 Yishun Street 41': ('1.42036919149233', '103.844403667721'), '460 Choa Chu Kang Avenue 4': ('1.37782264943043', '103.735012354055'), '461 Choa Chu Kang Avenue 4': ('1.37817763759625', '103.734550487829'), '464 Choa Chu Kang Avenue 4': ('1.37691411063327', '103.735857454273'), '467 Admiralty Drive': ('1.45222667691167', '103.814425933159'), '468A Yishun Street 43': ('1.42532389372284', '103.851843638346'), '469B Sengkang West Way': ('1.39585256390138', '103.877684905205'), '472A Fernvale Street': ('1.39740224240408', '103.881338084424'), '473 Jurong West Street 41': ('1.34883175011115', '103.722734202036'), '484B Choa Chu Kang Avenue 5': ('1.37623030762822', '103.736338345807'), '485B Choa Chu Kang Avenue 5': ('1.37429936592367', '103.738807275182'), '5 Marine Terrace': ('1.30456341339138', '103.91722903852'), '50 Telok Blangah Drive': ('1.27309040956353', '103.810143564301'), '503 Choa Chu Kang Street 51': ('1.38830517444057', '103.742322678004'), '504 Choa Chu Kang Street 51': ('1.38897888481313', '103.742536911765'), '506 Choa Chu Kang Street 51': ('1.3887781628167', '103.741831087827'), '507 Choa Chu Kang Street 51': ('1.38910481548092', '103.74128676791'), '509 Choa Chu Kang Street 51': ('1.38799995768277', '103.741818224223'), '511 Pasir Ris Street 52': ('1.37496053801206', '103.943992724645'), '523 Choa Chu Kang Street 51': ('1.39155917752352', '103.740845041672'), '525 Woodlands Drive 14': ('1.43232278107759', '103.793250049436'), '543 Ang Mo Kio Avenue 10': ('1.37430114417473', '103.856235581791'), '546 Ang Mo Kio Avenue 10': ('1.37365123866689', '103.857022220393'), '549 Choa Chu Kang Street 52': ('1.39339017198123', '103.742747108286'), '550 Ang Mo Kio Avenue 10': ('1.37360769512088', '103.85820494173'), '56 Telok Blangah Heights': ('1.27425274045994', '103.812429094644'), '568 Pasir Ris Street 51': ('1.36874937350141', '103.948912808424'), '575 Ang Mo Kio Avenue 10': ('1.37138855070768', '103.855953346739'), '6 Derbyshire': ('1.31568172551155', '103.845880417376'), '60 Strathmore Avenue': ('1.29308587206923', '103.81188488444'), '602 Yishun Street 61': ('1.42254719084625', '103.83630530745'), '603A Punggol Road': ('1.4035301270326', '103.908463410662'), '604A Punggol Road': ('1.40430971677833', '103.907412637205'), '617 Woodlands Avenue 4': ('1.43389740955882', '103.795730926437'), '619 Ang Mo Kio Avenue 4': ('1.37858807685121', '103.838639699065'), '624B Woodlands Drive 52': ('1.43477316982474', '103.799944828159'), '625 Bukit Batok Central': ('1.35138112759435', '103.748585289075'), '631 Ang Mo Kio Avenue 4': ('1.3795572819161', '103.840735651035'), '632B Punggol Drive': ('1.40084327296158', '103.913134667895'), '635B Senja Road': ('1.38660275237577', '103.757710467868'), '638 Woodlands Ring Road': ('1.43671737829561', '103.803192512642'), '639 Yishun Street 61': ('1.42056023821885', '103.838449241015'), '642 Ang Mo Kio Avenue 5': ('1.37794352430397', '103.840479239853'), '643 Punggol Central': ('1.39731946011017', '103.916018571836'), '644 Ang Mo Kio Avenue 4': ('1.37914986228487', '103.84093819913'), '650 Ang Mo Kio Street 61': ('1.37769118043958', '103.84274515222'), '665 Woodlands Ring Road': ('1.43801280829028', '103.797671900886'), '669 Woodlands Ring Road': ('1.43839759376345', '103.798540260206'), '678 Woodlands Avenue 6': ('1.43998366608733', '103.801293104268'), '683B Edgedale Plains': ('1.40470105849924', '103.91498813455'), '685C Choa Chu Kang Crescent': ('1.40349428170579', '103.748677231954'), '686A Woodlands Drive 73': ('1.44213596324067', '103.8056199239'), '718 Yishun Street 71': ('1.42681827962849', '103.828512775486'), '72 Telok Blangah Heights': ('1.27611797685125', '103.809589962738'), '73 Lorong 4 Toa Payoh': ('1.33432001132262', '103.851714329027'), '73 Telok Blangah Heights': ('1.27573843980494', '103.80918938464'), '75 Bedok North Road': ('1.32791477933184', '103.942144427101'), '76 Shenton': ('1.2734661134853', '103.845580792511'), '770 Woodlands Drive 60': ('1.44646333383129', '103.798737609119'), '8 @ Mount Sophia': ('1.30096483460999', '103.845956557221'), '803C Keat Hong Close': ('1.37338731917488', '103.744026034489'), '809B Choa Chu Kang Avenue 1': ('1.37476188616122', '103.744965122728'), '811A Choa Chu Kang Avenue 7': ('1.3737308481902', '103.745929784531'), '816 Tampines Avenue 4': ('1.3477050498226', '103.937555571928'), '818 Jurong West Street 81': ('1.34512575413', '103.69521407252'), '821 Woodlands Street 82': ('1.4408223847155', '103.790164940634'), '830 Woodlands Street 83': ('1.4392849907108', '103.790782884775'), '85 Lorong 4 Toa Payoh': ('1.33628536079156', '103.848428651446'), '875 Yishun Street 81': ('1.41476320431294', '103.836287031325'), '882 Tampines Street 84': ('1.35204684938015', '103.933462049385'), '89 Bedok North Street 4': ('1.33295683726302', '103.938220862136'), '893B Woodlands Drive 50': ('1.4368443229914', '103.789844833919'), '896B Woodlands Drive 50': ('1.43692442499246', '103.792568796601'), '8A Boon Tiong Road': ('1.28652536951665', '103.830124811691'), '9 Selegie Road': ('1.30346096156272', '103.850709313633'), '90 Tanglin Halt Road': ('1.30051700920519', '103.79897627676'), '91 Paya Lebar Way': ('1.32268116095086', '103.886737921495'), '91 Tanglin Halt Road': ('1.30072792288033', '103.799417284922'), '981C Buangkok Crescent': ('1.38044801592325', '103.879579342737'), 'A Treasure Trove': ('1.40604382878848', '103.899379746577'), 'Adria': ('1.3164463549549', '103.846258551824'), 'Allsworth Park': ('1.31987664656565', '103.781130442617'), 'Altez': ('1.27461794103822', '103.844319553688'), 'Amaryllis Ville': ('1.31471753038515', '103.841428522625'), 'Amber Skye': ('1.29962978981916', '103.898114344383'), 'Aquarius By The Park': ('1.33781310073984', '103.935679722167'), 'Archipelago': ('1.33859124800913', '103.920562157864'), 'Arena Residences': ('1.30967685823486', '103.880642764235'), 'Artra': ('1.29003067053998', '103.817185273903'), 'Aspen Heights': ('1.29425888278719', '103.840800556526'), 'Aston Residence': ('1.38022453673407', '103.964446142905'), 'Astor': ('1.32879593267373', '103.912963648128'), 'Astor Green': ('1.31743375883187', '103.776776207263'), 'Astrid Meadows': ('1.31930304897212', '103.794618130751'), 'Atrium Residences': ('1.31304113579468', '103.885713201642'), 'Avenue South Residence': ('1.27639011927215', '103.830271330171'), 'Avila Gardens': ('1.36015764334241', '103.965165224191'), 'Balestier Regency': ('1.32532360161851', '103.851776439038'), 'Balmoral Hills': ('1.31616396718925', '103.827763425695'), 'Bartley Ridge': ('1.34068943096191', '103.880558721941'), 'Beacon Heights': ('1.32637508646677', '103.8621423703'), 'Bedok Residences': ('1.32498777674639', '103.928612366312'), 'Bijou': ('1.27685386379359', '103.791742171785'), 'Birmingham Mansions': ('1.3177326204316', '103.844909211296'), 'Blossom Residences': ('1.3893458855585', '103.770294815646'), 'Botanic Gardens Mansion': ('1.30783850811916', '103.819147244028'), 'Bukit 828': ('1.37383591735897', '103.763124764765'), 'Bullion Park': ('1.39073624030461', '103.837036693468'), 'Burlington Square': ('1.30222951964708', '103.852538056665'), 'Butterworth 8': ('1.31212237727812', '103.894663569402'), 'Butterworth View': ('1.31271777977328', '103.895271676171'), 'Cairnhill Plaza': ('1.30616222501617', '103.836994537802'), 'Caribbean At Keppel Bay': ('1.26747019767944', '103.815542991374'), 'Carissa Park Condominium': ('1.35917121402077', '103.963631516169'), 'Casa Merah': ('1.32974206632152', '103.945670424231'), 'Casa Rosa': ('1.34623540384161', '103.8796434622'), 'Castle Green': ('1.38665607016721', '103.841258679782'), 'Cavendish Park': ('1.31693715460421', '103.774910099476'), 'Central Grove': ('1.31581012706306', '103.88447392439'), 'Centro Residences': ('1.3703043031814', '103.848386313887'), 'Changi Court': ('1.33859975650385', '103.983763789129'), 'Charlton Corner': ('1.35557651472076', '103.881552486332'), 'Chelsea Lodge': ('1.30531449478909', '103.895938058127'), 'Chun Tin Court': ('1.34207747272696', '103.774748014932'), 'Citigate Residence': ('1.31660680940599', '103.853325577811'), 'City Gate': ('1.30231590504573', '103.862331661034'), 'City Loft': ('1.31506105973759', '103.856679863644'), 'City Square Residences': ('1.31110535846664', '103.857479860813'), 'Cityscape @ Farrer Park': ('1.31802199387753', '103.851593706635'), 'Clementi Park': ('1.32798294795089', '103.766368712851'), 'Clover By The Park': ('1.35924248632998', '103.845377575704'), 'Coastline Residences': ('1.29897474563265', '103.899038172699'), 'Coco Palms': ('1.37150158736384', '103.945323459304'), 'Commonwealth Towers': ('1.29573433474414', '103.806030198974'), 'Concourse Skyline': ('1.30026689906653', '103.861865589801'), 'Coralis': ('1.30450883144843', '103.905450923104'), 'Costa Del Sol': ('1.31179905604909', '103.939434253217'), 'Costa Rhu': ('1.29660974425015', '103.867069174269'), "Cote D'azur": ('1.30116875572355', '103.90393142906'), 'Cube 8': ('1.3283636088892', '103.841418362322'), 'Cubik': ('1.31343809193913', '103.91201252096'), "D'leedon": ('1.31489320914161', '103.802315115225'), "D'zire": ('1.36832364019818', '103.882166255455'), 'Dairy Farm Residences': ('1.36658215330921', '103.774687584147'), 'Daisy Suites': ('1.3438487620392', '103.86842813539'), 'Dalvey Haus': ('1.31626271415845', '103.825189618179'), 'Devonshire Residences': ('1.29884647201804', '103.837351959315'), 'Dorsett Residences': ('1.28004529331829', '103.840358673254'), 'Double Bay Residences': ('1.34120980441122', '103.956288849924'), 'Draycott 8': ('1.31050057428434', '103.83227855413'), 'Dunman Regency': ('1.30960772754814', '103.893348276924'), 'E Maison': ('1.34328286670471', '103.869217344339'), 'Eastpoint Green': ('1.33954520418255', '103.951022111706'), 'Echelon': ('1.29082513015614', '103.818331479192'), 'Eco': ('1.32428854447398', '103.944710059855'), 'Edelweiss Park Condominium': ('1.35639824853602', '103.96773406082'), 'Eight Riversuites': ('1.3218204074661', '103.864744134712'), 'Elizabeth Towers': ('1.30587322570615', '103.83635902347'), 'Emerald Garden': ('1.28154862924483', '103.846472570061'), 'Eon Shenton': ('1.27388660363944', '103.846235542245'), 'Escada View': ('1.32899344664489', '103.91347731741'), 'Espana': ('1.32567584592427', '103.839254693607'), 'Esparina Residences': ('1.38189286322029', '103.891374413035'), 'Estella Gardens': ('1.360285340555', '103.966516198261'), 'Euro-Asia Park': ('1.33638147508185', '103.867687209306'), 'Farrer Park Suites': ('1.31329768304541', '103.853633404104'), 'Ferraria Park Condominium': ('1.35736420475575', '103.963972049935'), 'Flamingo Valley': ('1.31861107149419', '103.922558986674'), 'Flo Residence': ('1.39184675107192', '103.913039039387'), 'Floraville': ('1.39185235684708', '103.851179877786'), 'Floridian': ('1.33281270839652', '103.785403970862'), 'Forestville': ('1.43158076289978', '103.798895575284'), 'Forte Suites': ('1.31782799598861', '103.851970497394'), 'Fulton Hill': ('1.36176973204572', '103.832603672168'), 'Gardenvista': ('1.3386325800925', '103.780163772146'), 'Gem Residences': ('1.33874811788053', '103.850881932323'), 'Geylang Road': ('1.31330407235279', '103.883168652332'), 'Gilstead Two': ('1.31496035037871', '103.838459402687'), 'Glentrees': ('1.3170458517342', '103.784799391337'), 'Gloucester Mansions': ('1.31369315585356', '103.840387458086'), 'Gold Palm Mansions': ('1.3140753109672', '103.915196704027'), 'Grande Vista': ('1.38879912168555', '103.852035348555'), 'Grandeur Park Residences': ('1.32582135495427', '103.944919226615'), 'Grandview Suites': ('1.31277604580511', '103.882455638462'), 'Grange Residences': ('1.30369521339223', '103.823081041412'), 'H2O Residences': ('1.39283623462094', '103.87967806826'), 'Hai Sing Park': ('1.36603046151961', '103.893810211771'), 'Harbour Suites': ('1.27224289288465', '103.827478990765'), 'Hedges Park Condominium': ('1.35521095284251', '103.966422045067'), 'Heron Bay': ('1.37599314442815', '103.903643859593'), 'High Park Residences': ('1.39638961318515', '103.875132778517'), 'High Street Centre': ('1.28998869553165', '103.84921712944'), 'Highline Residences': ('1.28401388660814', '103.829756642021'), 'Hillbrooks': ('1.35868499037987', '103.762198046039'), 'Hillview Gre

In [17]:
def fetch_coordinates(location_name):
    url = 'https://www.onemap.gov.sg/api/common/elastic/search'
    params = {
        'searchVal': location_name,
        'returnGeom': 'Y',
        'getAddrDetails': 'Y',
        'pageNum': 1
    }

    response = requests.get(url, params=params)
    if response.status_code == 200:
        data = response.json()
        if data['found'] > 0:
            return location_name, (data['results'][0]['LATITUDE'], data['results'][0]['LONGITUDE'])
    print(f"Failed to fetch coordinates for {location_name}")
    return location_name, (np.nan, np.nan)


def update_lat_long_v1(df, building_map):
    # Locate rows with null lat and long
    df_null_coords = df[(df['latitude'].isnull()) & (df['longitude'].isnull())]
    building_names = df_null_coords['building_name'].unique()

    building_names_duplicate = [
        name for name in building_names if name in building_map]
    for building_name in building_names_duplicate:
        df.loc[df['building_name'] == building_name,
               'latitude'] = building_map[building_name][0]
        df.loc[df['building_name'] == building_name,
               'longitude'] = building_map[building_name][1]

    building_names_to_fetch = [
        name for name in building_names if name not in building_map]
    with ThreadPoolExecutor() as executor:
        print(f"Using {executor._max_workers} threads to fetch coordinates\n")
        future_to_coords = {executor.submit(
            fetch_coordinates, name): name for name in building_names_to_fetch}
        for future in as_completed(future_to_coords):
            result = future.result()
            if result is None:
                continue

            building_name, coords = result
            building_map[building_name] = coords
            df.loc[df['building_name'] ==
                   building_name, 'latitude'] = coords[0]
            df.loc[df['building_name'] ==
                   building_name, 'longitude'] = coords[1]

    return df, building_map


def update_lat_long_v2(df):
    # Locate rows with null lat and long
    df_null_coords = df[(df['latitude'].isnull()) & (df['longitude'].isnull())]
    addresses = df_null_coords['address'].unique()

    with ThreadPoolExecutor() as executor:
        print(f"Using {executor._max_workers} threads to fetch coordinates\n")
        future_to_coords = {executor.submit(
            fetch_coordinates, name): name for name in addresses}
        for future in as_completed(future_to_coords):
            result = future.result()
            if result is None:
                continue

            address, coords = result
            df.loc[df['address'] ==
                   address, 'latitude'] = coords[0]
            df.loc[df['address'] ==
                   address, 'longitude'] = coords[1]

    return df


df, building_map = update_lat_long_v1(df, building_map)

Using 12 threads to fetch coordinates

Failed to fetch coordinates for 3 Bed House on Kimsia Park
Failed to fetch coordinates for 6 Bed House on Ceylon Road
Failed to fetch coordinates for 4 Bed House on Alana
Failed to fetch coordinates for Pollen & Bleu
Failed to fetch coordinates for 5 Bed House on Lim Tai See Walk
Failed to fetch coordinates for D'ixoras
Failed to fetch coordinates for 1953
Failed to fetch coordinates for 6 Bed House on Wilkinson Road
Failed to fetch coordinates for 5 Bed House on Shamrock Park
Failed to fetch coordinates for 5 Bed House on Cluny Park Road
Failed to fetch coordinates for 4 Bed House on Teacher's Housing Estate
Failed to fetch coordinates for 2 Bed House on Macpherson Garden Estate
Failed to fetch coordinates for The Woodleigh Residences / The Woodleigh Mall
Failed to fetch coordinates for Hillion Residences / Hillion Mall
Failed to fetch coordinates for 6 Bed House on Sentosa Cove
Failed to fetch coordinates for The Brooks I & II
Failed to fetch coordinates for Nassim Ville
Failed to fetch coordinates for 6 Bed House on Jalan Senyum
Failed to fetch coordinates for Prive
Failed to fetch coordinates for Cashew Heights Condominium
Failed to fetch coordinates for 4 Bed House on Starlight Road
Failed to fetch coordinates for Duo Residences / Duo Tower
Failed to fetch coordinates for Studio House on Armenian Street
Failed to fetch coordinates for 2 Bed House on Starlight Road
Failed to fetch coordinates for 4 Bed House on Raffles Park
Failed to fetch coordinates for 6 Bed House on One Tree Hill Collection
Failed to fetch coordinates for 5 Bed House on Capitol Park
Failed to fetch coordinates for 4 Bed House on Capitol Park
Failed to fetch coordinates for La Suisse II
Failed to fetch coordinates for 5 Bed House on Greenwood Mews
Failed to fetch coordinates for 2 Bed House on Townerville
Failed to fetch coordinates for 6 Bed House on Macpherson Garden Estate
Failed to fetch coordinates for 4 Bed House on Macpherson Garden Estate
Failed to fetch coordinates for 3 Bed House on Braddell Heights Estate
Failed to fetch coordinates for 5 Bed House on Sennett Estate
Failed to fetch coordinates for 5 Bed House on Kew Terrace
Failed to fetch coordinates for Millage
Failed to fetch coordinates for 5 Bed House on Richmond Ville
Failed to fetch coordinates for The Hillier
Failed to fetch coordinates for 5 Bed House on Goodman Crest
Failed to fetch coordinates for Studio House on Onan Road
Failed to fetch coordinates for 5 Bed House on Kew Green
Failed to fetch coordinates for 4 Bed House on Lucky VillasFailed to fetch coordinates for 5 Bed House on D'manor

Failed to fetch coordinates for 5 Bed House on Jalan Haji Salam
Failed to fetch coordinates for 7 Bed House on East Coast Hill
Failed to fetch coordinates for Parc Komo / Komo Shoppes
Failed to fetch coordinates for 3 Bed House on Toh Estate
Failed to fetch coordinates for 1 Bed House on Loyang Villas
Failed to fetch coordinates for 4 Bed House on Bukit Loyang Estate
Failed to fetch coordinates for 4 Bed House on Thomson Grand
Failed to fetch coordinates for 3 Bed House on Tanah Merah Besar Lane
Failed to fetch coordinates for 5 Bed House on Fairwood Park
Failed to fetch coordinates for 4 Bed House on Hua Guan Avenue
Failed to fetch coordinates for 1 Bed House on Binjai Park
Failed to fetch coordinates for Hume Park II
Failed to fetch coordinates for 6 Bed House on Woodgrove Avenue
Failed to fetch coordinates for The Countryside
Failed to fetch coordinates for 4 Bed House on Springleaf Garden
Failed to fetch coordinates for 5 Bed House on Dalla Vale
Failed to fetch coordinates for 5 Bed House on Bukit VillasFailed to fetch coordinates for 4 Bed House on Dalla Vale
Failed to fetch coordinates for 4 Bed House on The Countryside

Failed to fetch coordinates for 3 Bed House on Countryside Grove
Failed to fetch coordinates for 4 Bed House on Countryside ViewFailed to fetch coordinates for 3 Bed House on Teacher's Housing Estate

Failed to fetch coordinates for 4 Bed House on Seletar Hills Estate
Failed to fetch coordinates for 4 Bed House on CabanaFailed to fetch coordinates for 5 Bed House on Seletar Park

Failed to fetch coordinates for 5 Bed House on Luxus Hills
Failed to fetch coordinates for 5 Bed House on Este Villa
Failed to fetch coordinates for 4 Bed House on Sembawang Straits Estate

In [18]:
# Fetch using addresses next
df = update_lat_long_v2(df)

Using 12 threads to fetch coordinates

In [19]:
from location_constants import DISTRICTS
REVERSE_DISTRICTS = {v: k for k, v in DISTRICTS.items()}

In [20]:
df["district_id"] = df["district"].map(REVERSE_DISTRICTS)

In [21]:
from motherduckdb_connector import connect_to_motherduckdb
from shapely import wkt

db = connect_to_motherduckdb()
geometry_df = db.query_df("SELECT * FROM plan_area_mapping")
geometry_df['polygon'] = geometry_df['polygon'].apply(wkt.loads)
geometry_df = gpd.GeoDataFrame(geometry_df, geometry='polygon')
db.close()

┌──────────────────────┐
│         name         │
│       varchar        │
├──────────────────────┤
│ hawker_centre_info   │
│ mall_info            │
│ mrt_info             │
│ plan_area_mapping    │
│ primary_school_info  │
│ property_listing     │
│ rental_price_history │
│ supermarket_info     │
│ tmp                  │
└──────────────────────┘

In [22]:
from location_constants import PLAN_AREA_MAPPING


def get_district(lat, long):
    # swap long and la
    point = Point(long, lat)
    plan_area = geometry_df.loc[geometry_df.contains(
        point), 'plan_area'].squeeze()

    if isinstance(plan_area, pd.Series):
        if plan_area.empty:
            return ""
        plan_area = plan_area.mode()

    return PLAN_AREA_MAPPING[plan_area]

In [23]:
df["tmp_district_id"] = df.apply(
    lambda x: get_district(x["latitude"], x["longitude"]), axis=1)
df.drop(df[(df.duplicated(subset='listing_id', keep=False)) & (
    df["district_id"] != df["tmp_district_id"])].index, inplace=True)
df.drop(columns=["tmp_district_id"], inplace=True)

Now we are left with the real duplicates

In [24]:
df[df.duplicated(subset='listing_id', keep=False)].sort_values(by='listing_id')

,property_name,listing_id,district,price,bedroom,bathroom,dimensions,address,price/sqft,floor_level,...,tenure,property_type,url,facilities,building_name,nearest_mrt,distance_to_nearest_mrt,latitude,longitude,district_id
1164,Common Room in 73 Lorong 4 Toa Payoh,2eRXwDnSTb8jPYetFXkSQg,Balestier / Toa Payoh,"$1,200/mo",Common Room,None,160 sqft (room),73 Lorong 4 Toa Payoh,$7.5 psf,High,...,99-year leasehold,HDB 3 Rooms,https://www.99.co/singapore/rooms/property/73-...,['Renovated'],73 Lorong 4 Toa Payoh,Toa Payoh,511.039,1.33432001132262,103.851714329027,D12
1115,Common Room in 73 Lorong 4 Toa Payoh,2eRXwDnSTb8jPYetFXkSQg,Balestier / Toa Payoh,"$1,200/mo",Common Room,None,160 sqft (room),73 Lorong 4 Toa Payoh,$7.5 psf,High,...,99-year leasehold,HDB 3 Rooms,https://www.99.co/singapore/rooms/property/73-...,['Renovated'],73 Lorong 4 Toa Payoh,Toa Payoh,511.039,1.33432001132262,103.851714329027,D12
415,2 Bed Condo in Hundred Trees,3q8vivHJASSNPY6SmpsShA,Buona Vista / West Coast / Clementi,"$4,500/mo",2 Beds,2 Baths,786 sqft,95 West Coast Drive,$5.73 psf,High,...,956-year leasehold,Condo Whole Unit,https://www.99.co/singapore/rent/property/hund...,"['Parking', 'Pond', 'Tennis Court', 'Lounge', ...",Hundred Trees,Clementi,799.153,1.3155055432603,103.758056882156,D05
487,2 Bed Condo in Hundred Trees,3q8vivHJASSNPY6SmpsShA,Buona Vista / West Coast / Clementi,"$4,500/mo",2 Beds,2 Baths,786 sqft,95 West Coast Drive,$5.73 psf,High,...,956-year leasehold,Condo Whole Unit,https://www.99.co/singapore/rent/property/hund...,"['Parking', 'Pond', 'Tennis Court', 'Lounge', ...",Hundred Trees,Clementi,799.153,1.3155055432603,103.758056882156,D05
0,2 Bed Condo in Marina One Residences,4dNy8WuJGt9TknKjKJ4DXy,Boat Quay / Raffles Place / Marina,"$7,400/mo",2 Beds,2 Baths,"1,176 sqft",23 Marina Way,$6.29 psf,None,...,99-year leasehold,Apartment Whole Unit,https://www.99.co/singapore/rent/property/mari...,"['Pool Deck', 'Hydrotherapy Pool', 'Wading Poo...",Marina One Residences,Marina Bay,219.281,1.27671498507474,103.853326932298,D01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2276,Master Room in 230 Bukit Batok East Avenue 3,nmmwN7A4yUbvYiQHcCcwWu,Bukit Batok / Bukit Panjang / Choa Chu Kang,"$1,250/mo",Master Room,1 Bath,160 sqft (room),230 Bukit Batok East Avenue 3,$7.81 psf,Mid,...,99-year leasehold,HDB,https://www.99.co/singapore/rooms/property/230...,"['Attached Bathroom', 'Wireless Internet', 'Ai...",230 Bukit Batok East Avenue 3,Bukit Batok,622.791,1.34771540923723,103.754994802909,D23
1721,1 Bed Condo in Coco Palms,oBgXdJcytLwfvjKXE9LBmi,Pasir Ris / Tampines,"$3,200/mo",1 Bed,1 Bath,463 sqft,21 Pasir Ris Grove,$6.91 psf,Mid,...,99-year leasehold,Condo Whole Unit,https://www.99.co/singapore/rent/property/coco...,"['Jogging Track', 'Tennis Court', 'Fun Pool', ...",Coco Palms,Pasir Ris,466.163,1.37150158736384,103.945323459304,D18
1792,1 Bed Condo in Coco Palms,oBgXdJcytLwfvjKXE9LBmi,Pasir Ris / Tampines,"$3,200/mo",1 Bed,1 Bath,463 sqft,21 Pasir Ris Grove,$6.91 psf,Mid,...,99-year leasehold,Condo Whole Unit,https://www.99.co/singapore/rent/property/coco...,"['Jogging Track', 'Tennis Court', 'Fun Pool', ...",Coco Palms,Pasir Ris,466.163,1.37150158736384,103.945323459304,D18
79,1 Bed Condo in The Sail @ Marina Bay,oQroUcBdTUjvUSMTYKtiZg,Boat Quay / Raffles Place / Marina,"$4,790/mo",1 Bed,1 Bath,667 sqft,4 Marina Boulevard,$7.18 psf,High,...,99-year leasehold,Apartment Whole Unit,https://www.99.co/singapore/rent/property/the-...,"['Sky Terrace', 'Washer', 'Steam Room', 'Oven'...",The Sail @ Marina Bay,Downtown,149.256,1.28076943504219,103.852658562152,D01
1,1 Bed Condo in The Sail @ Marina Bay,oQroUcBdTUjvUSMTYKtiZg,Boat Quay / Raffles Place / Marina,"$4,790/mo",1 Bed,1 Bath,667 sqft,4 Marina Boulevard,$7.18 psf,High,...,99-year leasehold,Apartment Whole Unit,https://www.99.co/singapore/rent/property/the-...,"['Sky Terrace', 'Washer', 'Steam Room', 'Oven'...",The Sail @ Marina Bay,Downtown,149.256,1.28076943504219,103.852658562152,D01

In [25]:
df.drop_duplicates(subset='listing_id', keep='first', inplace=True)

In [26]:
from find_closest import find_nearest, fetch_mrt_info


def update_mrt(df):
    df_null_mrt = df[df["nearest_mrt"].isnull()]

    mrt_info = fetch_mrt_info()
    df_null_mrt = find_nearest(
        df_null_mrt, mrt_info, "nearest_mrt", "distance_to_nearest_mrt")
    df.update(df_null_mrt)

    return df


df = update_mrt(df)

┌──────────────────────┐
│         name         │
│       varchar        │
├──────────────────────┤
│ hawker_centre_info   │
│ mall_info            │
│ mrt_info             │
│ plan_area_mapping    │
│ primary_school_info  │
│ property_listing     │
│ rental_price_history │
│ supermarket_info     │
│ tmp                  │
└──────────────────────┘

  station_name   longitude  latitude station_code   color         line
0    Esplanade  103.855612  1.293260          CC3  Orange       Circle
1   Paya Lebar  103.892272  1.317369          EW8   Green    East West
2   Paya Lebar  103.892272  1.317369          CC9  Orange       Circle
3  Dhoby Ghaut  103.845833  1.299044         NS24     Red  North South
4  Dhoby Ghaut  103.845833  1.299044          NE6  Purple   North East

In [27]:
from find_closest import fetch_hawker_info

df["nearest_hawker"] = None
df["distance_to_nearest_hawker"] = float("inf")


def update_hawker(df):
    df_null_hawker = df[df["nearest_hawker"].isnull()]

    hawker_info = fetch_hawker_info()
    df_null_hawker = find_nearest(
        df_null_hawker, hawker_info, "nearest_hawker", "distance_to_nearest_hawker")
    df.update(df_null_hawker)

    return df


df = update_hawker(df)

┌──────────────────────┐
│         name         │
│       varchar        │
├──────────────────────┤
│ hawker_centre_info   │
│ mall_info            │
│ mrt_info             │
│ plan_area_mapping    │
│ primary_school_info  │
│ property_listing     │
│ rental_price_history │
│ supermarket_info     │
│ tmp                  │
└──────────────────────┘

   hawker_id                             name  \
0          1      Market Street Hawker Centre
1          2     Marsiling Mall Hawker Centre
2          3     Margaret Drive Hawker Centre
3          4  Fernvale Hawker Centre & Market
4          5        One Punggol Hawker Centre

                                     building_name           street_name  \
0                                     CapitaSpring         Market Street
1                                   Marsiling Mall   Woodlands Street 12
2                                                         Margaret Drive
3  Fernvale Community Club, Hawker Centre & Market  Sengkang West Avenue
4                                      One Punggol         Punggol Drive

  postal_code   longitude  latitude
0       48940  103.850165  1.284425
1      738623  103.779785  1.433539
2      142038  103.804715  1.297486
3      797650  103.877060  1.391592
4      828629  103.904806  1.408190

In [28]:
from find_closest import fetch_supermarket_info

df["nearest_supermarket"] = None
df["distance_to_nearest_supermarket"] = float("inf")


def update_supermarket(df):
    df_null_supermarket = df[df["nearest_supermarket"].isnull()]

    supermarket_info = fetch_supermarket_info()
    df_null_supermarket = find_nearest(
        df_null_supermarket, supermarket_info, "nearest_supermarket", "distance_to_nearest_supermarket")
    df.update(df_null_supermarket)

    return df


df = update_supermarket(df)

┌──────────────────────┐
│         name         │
│       varchar        │
├──────────────────────┤
│ hawker_centre_info   │
│ mall_info            │
│ mrt_info             │
│ plan_area_mapping    │
│ primary_school_info  │
│ property_listing     │
│ rental_price_history │
│ supermarket_info     │
│ tmp                  │
└──────────────────────┘

   supermarket_id                                         name  \
0               1  LI LI CHENG SUPERMARKET (PUNGGOL) PTE. LTD.
1               2              SHENG SIONG SUPERMARKET PTE LTD
2               3        COLD STORAGE SINGAPORE (1983) PTE LTD
3               4        COLD STORAGE SINGAPORE (1983) PTE LTD
4               5                      YES SUPERMARKET PTE LTD

            street_name postal_code   longitude  latitude
0         PUNGGOL PLACE      823273  103.901262  1.402303
1  UPPER BOON KENG ROAD      380011  103.870914  1.314239
2      HOUGANG AVENUE 8      530683  103.886366  1.373321
3  BEDOK RESERVOIR ROAD      470631  103.914942  1.332959
4    TAMPINES STREET 21      522201  103.953010  1.353453

In [29]:
from find_closest import fetch_primary_school_info

df["nearest_sch"] = None
df["distance_to_nearest_sch"] = float("inf")


def update_primary_school(df):
    df_null_sch = df[df["nearest_sch"].isnull()]

    sch_info = fetch_primary_school_info()
    df_null_sch = find_nearest(
        df_null_sch, sch_info, "nearest_sch", "distance_to_nearest_sch")
    df.update(df_null_sch)

    return df


df = update_primary_school(df)

┌──────────────────────┐
│         name         │
│       varchar        │
├──────────────────────┤
│ hawker_centre_info   │
│ mall_info            │
│ mrt_info             │
│ plan_area_mapping    │
│ primary_school_info  │
│ property_listing     │
│ rental_price_history │
│ supermarket_info     │
│ tmp                  │
└──────────────────────┘

   school_id                          name         area   longitude  latitude
0          1      Admiralty Primary School    Woodlands  103.800214  1.442550
1          2  Ahmad Ibrahim Primary School       Yishun  103.832942  1.433153
2          3                Ai Tong School       Bishan  103.833020  1.360583
3          4      Alexandra Primary School  Bukit Merah  103.824425  1.291334
4          5   Anchor Green Primary School     Sengkang  103.887165  1.390370

In [30]:
from find_closest import fetch_mall_info

df["nearest_mall"] = None
df["distance_to_nearest_mall"] = float("inf")


def update_mall(df):
    df_null_mall = df[df["nearest_mall"].isnull()]

    mall_info = fetch_mall_info()
    df_null_mall = find_nearest(
        df_null_mall, mall_info, "nearest_mall", "distance_to_nearest_mall")
    df.update(df_null_mall)

    return df


df = update_mall(df)

┌──────────────────────┐
│         name         │
│       varchar        │
├──────────────────────┤
│ hawker_centre_info   │
│ mall_info            │
│ mrt_info             │
│ plan_area_mapping    │
│ primary_school_info  │
│ property_listing     │
│ rental_price_history │
│ supermarket_info     │
│ tmp                  │
└──────────────────────┘

   mall_id                            name   longitude  latitude
0        1                          100 AM  103.843471  1.274588
1        2                    313@Somerset  103.838361  1.301014
2        3                          Aperia  103.863930  1.310867
3        4  Balestier Hill Shopping Centre  103.842572  1.325596
4        5                      Bugis Cube  103.855635  1.298141

In [31]:
def simplify_lease_type(lease_type):
    if pd.isnull(lease_type):
        return None
    elif 'leasehold' in lease_type:
        return 'leasehold'
    else:
        return 'freehold'


def simplify_property_type(property_type):
    if pd.isnull(property_type):
        return None
    elif 'Condo' in property_type and 'Executive' not in property_type:
        return 'Condo'
    elif 'HDB' in property_type and 'Executive' not in property_type:
        return 'HDB'
    elif 'Apartment' in property_type and 'Executive' not in property_type:
        return 'Apartment'
    elif 'Bungalow' in property_type:
        return 'HDB'
    elif 'Land' in property_type:
        return 'Landed'

    return property_type.strip()


df['property_type'] = df['property_type'].apply(
    simplify_property_type).astype('category')
df['furnishing'] = df['furnishing'].fillna('Unfurnished').astype('category')
df['facing'] = df['facing'].astype('category')
df['tenure'] = df['tenure'].apply(simplify_lease_type).astype('category')
df['floor_level'] = df['floor_level'].str.replace(
    r'\s*\(\d+ total\)', '', regex=True).astype('category')
df['district'] = df['district'].astype('category')

In [32]:
def extract_num_price(x):
    if not x:
        return ""
    res = re.findall(r'\d[\d,]*', x)
    return res[0] if res else ""


def extract_num_bedroom(x):
    if not x:
        return "0"
    res = re.findall(r'\d[\d,]*', x)
    if not res:
        return "1"
    return res[0]


def extract_num(x):
    if not x:
        return None
    res = re.findall(r'\d[\d,]*', x)
    return res[0] if res else None


df['price'] = df['price'].apply(
    extract_num_price).str.replace(',', '').astype(int)
df['bedroom'] = df['bedroom'].apply(
    extract_num_bedroom).astype(int)
df['bathroom'] = df['bathroom'].apply(
    extract_num).fillna("0").astype(int)
df['dimensions'] = df['dimensions'].apply(
    extract_num).str.replace(',', '').astype(int)
df['price/sqft'] = df['price/sqft'].apply(
    extract_num).astype(float)
df['built_year'] = df['built_year'].fillna(9999).astype(int)

In [33]:
df["is_whole_unit"] = True

In [34]:
def update_room_rental_properties(df):
    indexes = df.loc[(df['property_name'].str.contains(
        'Room', case=False))].index
    df.loc[indexes, 'is_whole_unit'] = False
    df.loc[indexes, 'bedroom'] = 1
    df.loc[indexes, 'bathroom'] = 0

    indexes = df.loc[(df['property_name'].str.contains(
        'Studio', case=False))].index
    df.loc[indexes, 'bedroom'] = 1

    return df


df = update_room_rental_properties(df)

In [35]:
df['has_pool'] = df['facilities'].apply(lambda x: 'pool' in x.lower())
df['has_gym'] = df['facilities'].apply(lambda x: 'gym' in x.lower())

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 832 entries, 0 to 2682
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   property_name                    832 non-null    object
 1   listing_id                       832 non-null    object
 2   district                         832 non-null    category
 3   price                            832 non-null    int32
 4   bedroom                          832 non-null    int32
 5   bathroom                         832 non-null    int32
 6   dimensions                       832 non-null    int32
 7   address                          832 non-null    object
 8   price/sqft                       832 non-null    float64
 9   floor_level                      499 non-null    category
 10  furnishing                       832 non-null    category
 11  facing                           101 non-null    category
 12  built_year                       832 non-null    int32
 13  tenure                           801 non-null    category
 14  property_type                    832 non-null    category
 15  url                              832 non-null    object
 16  facilities                       832 non-null    object
 17  building_name                    832 non-null    object
 18  nearest_mrt                      832 non-null    object
 19  distance_to_nearest_mrt          832 non-null    float64
 20  latitude                         832 non-null    object
 21  longitude                        832 non-null    object
 22  district_id                      832 non-null    object
 23  nearest_hawker                   832 non-null    object
 24  distance_to_nearest_hawker       832 non-null    float64
 25  nearest_supermarket              832 non-null    object
 26  distance_to_nearest_supermarket  832 non-null    float64
 27  nearest_sch                      832 non-null    object
 28  distance_to_nearest_sch          832 non-null    float64
 29  nearest_mall                     832 non-null    object
 30  distance_to_nearest_mall         832 non-null    float64
 31  is_whole_unit                    832 non-null    bool
 32  has_pool                         832 non-null    bool
 33  has_gym                          832 non-null    bool
dtypes: bool(3), category(6), float64(6), int32(5), object(14)
memory usage: 195.2+ KB

In [37]:
df["fingerprint"] = df["listing_id"] + "-" + df["price"].astype(str)
df["fingerprint"]

0        4dNy8WuJGt9TknKjKJ4DXy-7400
1        oQroUcBdTUjvUSMTYKtiZg-4790
2        LZvu3LEYKKJ2RQgcthrtcn-6500
3        MWASUKzWmFZWRKsnERisRK-3388
4       GsmAMQH99u3HkSxnAzaTQV-11999
                    ...
2678     EgTLH9sz9SZJKZHBeghZqG-4500
2679     kXTMyPoJseLDoDcAZBiJWT-8000
2680     XXv6kUVJwmQHhu7FeYgWtc-9300
2681      c3crMegeUi6mVAgnqyHbTf-550
2682     jBSMa2qPVipCR9qEYQxajx-3500
Name: fingerprint, Length: 832, dtype: object

In [38]:
df['source'] = 'ninety_nine'
df['scraped_on'] = datetime.strptime(date, '%Y-%m-%d')
df['last_updated'] = df['scraped_on']

df.rename(columns={
    'price/sqft': 'price_per_sqft',
    'distance_to_nearest_mrt': 'distance_to_mrt_in_m',
    'distance_to_nearest_hawker': 'distance_to_hawker_in_m',
    'distance_to_nearest_sch': 'distance_to_sch_in_m',
    'distance_to_nearest_supermarket': 'distance_to_supermarket_in_m',
    'distance_to_nearest_mall': 'distance_to_mall_in_m',
}, inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 832 entries, 0 to 2682
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   property_name                 832 non-null    object
 1   listing_id                    832 non-null    object
 2   district                      832 non-null    category
 3   price                         832 non-null    int32
 4   bedroom                       832 non-null    int32
 5   bathroom                      832 non-null    int32
 6   dimensions                    832 non-null    int32
 7   address                       832 non-null    object
 8   price_per_sqft                832 non-null    float64
 9   floor_level                   499 non-null    category
 10  furnishing                    832 non-null    category
 11  facing                        101 non-null    category
 12  built_year                    832 non-null    int32
 13  tenure                        801 non-null    category
 14  property_type                 832 non-null    category
 15  url                           832 non-null    object
 16  facilities                    832 non-null    object
 17  building_name                 832 non-null    object
 18  nearest_mrt                   832 non-null    object
 19  distance_to_mrt_in_m          832 non-null    float64
 20  latitude                      832 non-null    object
 21  longitude                     832 non-null    object
 22  district_id                   832 non-null    object
 23  nearest_hawker                832 non-null    object
 24  distance_to_hawker_in_m       832 non-null    float64
 25  nearest_supermarket           832 non-null    object
 26  distance_to_supermarket_in_m  832 non-null    float64
 27  nearest_sch                   832 non-null    object
 28  distance_to_sch_in_m          832 non-null    float64
 29  nearest_mall                  832 non-null    object
 30  distance_to_mall_in_m         832 non-null    float64
 31  is_whole_unit                 832 non-null    bool
 32  has_pool                      832 non-null    bool
 33  has_gym                       832 non-null    bool
 34  fingerprint                   832 non-null    object
 35  source                        832 non-null    object
 36  scraped_on                    832 non-null    datetime64[ns]
 37  last_updated                  832 non-null    datetime64[ns]
dtypes: bool(3), category(6), datetime64[ns](2), float64(6), int32(5), object(16)
memory usage: 221.2+ KB

In [40]:
df.describe()

,price,bedroom,bathroom,dimensions,price_per_sqft,built_year,distance_to_mrt_in_m,distance_to_hawker_in_m,distance_to_supermarket_in_m,distance_to_sch_in_m,distance_to_mall_in_m
count,832.000000,832.000000,832.000000,832.000000,832.000000,832.000000,832.000000,832.000000,832.000000,832.000000,832.000000
mean,4799.891827,2.038462,1.542067,1056.137019,5.627404,2399.954327,648.635965,884.318203,439.223591,693.237751,784.844268
std,4371.356121,1.214022,1.462951,1055.995856,4.151536,1731.159609,463.811561,708.309635,409.594941,474.326586,630.521782
min,500.000000,1.000000,0.000000,10.000000,0.000000,1970.000000,54.012000,40.548000,0.039000,66.069000,0.030000
25%,2900.000000,1.000000,0.000000,461.750000,4.000000,1998.000000,314.410750,409.594750,190.350000,386.241750,333.230250
50%,4200.000000,2.000000,1.000000,829.000000,5.000000,2011.000000,527.407500,659.308000,344.168000,588.247500,639.493500
75%,5799.250000,3.000000,2.000000,1250.250000,7.000000,2018.000000,830.122000,1085.306000,542.080000,838.580500,1083.197750
max,78000.000000,7.000000,7.000000,8500.000000,90.000000,9999.000000,3536.145000,3742.359000,3318.827000,3309.225000,3462.201000

In [41]:
from location_constants import PROPERTY_LISTING_COLS, RENTAL_PRICE_HISTORY_COLS
df = df[PROPERTY_LISTING_COLS]

In [42]:
from motherduckdb_connector import connect_to_motherduckdb
db = connect_to_motherduckdb()
existing = db.query_df(
    "SELECT listing_id, fingerprint, last_updated FROM property_listing")

┌──────────────────────┐
│         name         │
│       varchar        │
├──────────────────────┤
│ hawker_centre_info   │
│ mall_info            │
│ mrt_info             │
│ plan_area_mapping    │
│ primary_school_info  │
│ property_listing     │
│ rental_price_history │
│ supermarket_info     │
│ tmp                  │
└──────────────────────┘

In [43]:
df = df.merge(existing, on="listing_id", how="left",
              indicator=True, suffixes=('', '_y'))

changed:

1. insert to rental price history
2. update old one (fingerprint and last_updated)

In [44]:
changed = df[(df['fingerprint'] != df['fingerprint_y']) & (df['_merge'] == 'both')][[
    'listing_id', 'fingerprint', 'scraped_on', 'fingerprint_y', 'last_updated_y', '_merge']]
changed

,listing_id,fingerprint,scraped_on,fingerprint_y,last_updated_y,_merge
128,o3z2zYSPEvLYrVbx9HHG8k,o3z2zYSPEvLYrVbx9HHG8k-3350,2024-01-26,o3z2zYSPEvLYrVbx9HHG8k-3500,2024-01-25,both
230,PH6yTntn3Q5W6Yq4F2syGk,PH6yTntn3Q5W6Yq4F2syGk-5500,2024-01-26,PH6yTntn3Q5W6Yq4F2syGk-6000,2024-01-25,both
255,VKRV8AgVxRiXHjFmyesfsw,VKRV8AgVxRiXHjFmyesfsw-4900,2024-01-26,VKRV8AgVxRiXHjFmyesfsw-4500,2024-01-25,both
350,xzvUEgPBEKCnngo5Z2dm2G,xzvUEgPBEKCnngo5Z2dm2G-4000,2024-01-26,xzvUEgPBEKCnngo5Z2dm2G-4200,2024-01-25,both
408,8Wmzjje69dFY3xTuVs4hdb,8Wmzjje69dFY3xTuVs4hdb-3200,2024-01-26,8Wmzjje69dFY3xTuVs4hdb-3300,2024-01-25,both
414,NieAR22v4R7wD9wLDeJQd5,NieAR22v4R7wD9wLDeJQd5-4600,2024-01-26,NieAR22v4R7wD9wLDeJQd5-5300,2024-01-25,both
440,9RhKDgnA7BzkZGJHFYDSAb,9RhKDgnA7BzkZGJHFYDSAb-3700,2024-01-26,9RhKDgnA7BzkZGJHFYDSAb-3900,2024-01-25,both
490,oPRmxm3Z6cZDB92cPzrK6z,oPRmxm3Z6cZDB92cPzrK6z-4300,2024-01-26,oPRmxm3Z6cZDB92cPzrK6z-4350,2024-01-25,both

In [45]:
cdc = changed[['listing_id', 'fingerprint', 'last_updated_y']]
cdc['price'] = cdc['fingerprint'].apply(lambda x: int(x.split("-")[1]))
cdc.rename(columns={'last_updated_y': 'timestamp'}, inplace=True)
cdc = cdc[RENTAL_PRICE_HISTORY_COLS]
cdc

C:\Users\kaise\AppData\Local\Temp\ipykernel_6324\4040866765.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdc['price'] = cdc['fingerprint'].apply(lambda x: int(x.split("-")[1]))
C:\Users\kaise\AppData\Local\Temp\ipykernel_6324\4040866765.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdc.rename(columns={'last_updated_y': 'timestamp'}, inplace=True)

                 listing_id  price  timestamp
128  o3z2zYSPEvLYrVbx9HHG8k   3350 2024-01-25
230  PH6yTntn3Q5W6Yq4F2syGk   5500 2024-01-25
255  VKRV8AgVxRiXHjFmyesfsw   4900 2024-01-25
350  xzvUEgPBEKCnngo5Z2dm2G   4000 2024-01-25
408  8Wmzjje69dFY3xTuVs4hdb   3200 2024-01-25
414  NieAR22v4R7wD9wLDeJQd5   4600 2024-01-25
440  9RhKDgnA7BzkZGJHFYDSAb   3700 2024-01-25
490  oPRmxm3Z6cZDB92cPzrK6z   4300 2024-01-25

In [46]:
changed = changed[['listing_id', 'fingerprint', 'scraped_on']]
changed['price'] = changed['fingerprint'].apply(lambda x: int(x.split("-")[1]))
changed.rename(columns={'scraped_on': 'last_updated'}, inplace=True)
changed

C:\Users\kaise\AppData\Local\Temp\ipykernel_6324\1024784535.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  changed['price'] = changed['fingerprint'].apply(lambda x: int(x.split("-")[1]))
C:\Users\kaise\AppData\Local\Temp\ipykernel_6324\1024784535.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  changed.rename(columns={'scraped_on': 'last_updated'}, inplace=True)

                 listing_id                  fingerprint last_updated  price
128  o3z2zYSPEvLYrVbx9HHG8k  o3z2zYSPEvLYrVbx9HHG8k-3350   2024-01-26   3350
230  PH6yTntn3Q5W6Yq4F2syGk  PH6yTntn3Q5W6Yq4F2syGk-5500   2024-01-26   5500
255  VKRV8AgVxRiXHjFmyesfsw  VKRV8AgVxRiXHjFmyesfsw-4900   2024-01-26   4900
350  xzvUEgPBEKCnngo5Z2dm2G  xzvUEgPBEKCnngo5Z2dm2G-4000   2024-01-26   4000
408  8Wmzjje69dFY3xTuVs4hdb  8Wmzjje69dFY3xTuVs4hdb-3200   2024-01-26   3200
414  NieAR22v4R7wD9wLDeJQd5  NieAR22v4R7wD9wLDeJQd5-4600   2024-01-26   4600
440  9RhKDgnA7BzkZGJHFYDSAb  9RhKDgnA7BzkZGJHFYDSAb-3700   2024-01-26   3700
490  oPRmxm3Z6cZDB92cPzrK6z  oPRmxm3Z6cZDB92cPzrK6z-4300   2024-01-26   4300

In [47]:
db.insert_df("rental_price_history", cdc)

In [48]:
db.update_table("property_listing", "listing_id", [
                "price", "fingerprint", "last_updated"], changed)

UPDATE tmp SET price = '3350', fingerprint = 'o3z2zYSPEvLYrVbx9HHG8k-3350', last_updated = '2024-01-26 00:00:00' WHERE listing_id = 'o3z2zYSPEvLYrVbx9HHG8k';UPDATE tmp SET price = '5500', fingerprint = 'PH6yTntn3Q5W6Yq4F2syGk-5500', last_updated = '2024-01-26 00:00:00' WHERE listing_id = 'PH6yTntn3Q5W6Yq4F2syGk';UPDATE tmp SET price = '4900', fingerprint = 'VKRV8AgVxRiXHjFmyesfsw-4900', last_updated = '2024-01-26 00:00:00' WHERE listing_id = 'VKRV8AgVxRiXHjFmyesfsw';UPDATE tmp SET price = '4000', fingerprint = 'xzvUEgPBEKCnngo5Z2dm2G-4000', last_updated = '2024-01-26 00:00:00' WHERE listing_id = 'xzvUEgPBEKCnngo5Z2dm2G';UPDATE tmp SET price = '3200', fingerprint = '8Wmzjje69dFY3xTuVs4hdb-3200', last_updated = '2024-01-26 00:00:00' WHERE listing_id = '8Wmzjje69dFY3xTuVs4hdb';UPDATE tmp SET price = '4600', fingerprint = 'NieAR22v4R7wD9wLDeJQd5-4600', last_updated = '2024-01-26 00:00:00' WHERE listing_id = 'NieAR22v4R7wD9wLDeJQd5';UPDATE tmp SET price = '3700', fingerprint = '9RhKDgnA7BzkZGJHFYDSAb-3700', last_updated = '2024-01-26 00:00:00' WHERE listing_id = '9RhKDgnA7BzkZGJHFYDSAb';UPDATE tmp SET price = '4300', fingerprint = 'oPRmxm3Z6cZDB92cPzrK6z-4300', last_updated = '2024-01-26 00:00:00' WHERE listing_id = 'oPRmxm3Z6cZDB92cPzrK6z'

In [49]:
new = df[df['_merge'] == 'left_only'][PROPERTY_LISTING_COLS]
new

,listing_id,property_name,district,price,bedroom,bathroom,dimensions,address,price_per_sqft,floor_level,...,distance_to_sch_in_m,nearest_mall,distance_to_mall_in_m,is_whole_unit,has_pool,has_gym,fingerprint,source,scraped_on,last_updated
3,MWASUKzWmFZWRKsnERisRK,Studio Condo in V On Shenton,Boat Quay / Raffles Place / Marina,3388,1,1,474,5A Shenton Way,7.0,Low,...,1040.306,Square 2,221.648,True,True,True,MWASUKzWmFZWRKsnERisRK-3388,ninety_nine,2024-01-26,2024-01-26
4,GsmAMQH99u3HkSxnAzaTQV,4 Bed Condo in The Sail @ Marina Bay,Boat Quay / Raffles Place / Marina,11999,4,3,2077,2 Marina Boulevard,5.0,High,...,1529.281,Marina Bay Link Mall,183.709,True,True,True,GsmAMQH99u3HkSxnAzaTQV-11999,ninety_nine,2024-01-26,2024-01-26
14,RWzHp3mHHQGEZcEMrmo2Br,Common Room in People's Park Centre,Boat Quay / Raffles Place / Marina,900,1,0,120,101A Upper Cross Street,7.0,NaN,...,1098.642,People's Park Centre,0.030,False,False,False,RWzHp3mHHQGEZcEMrmo2Br-900,ninety_nine,2024-01-26,2024-01-26
16,9YzYYyo4fuDrDGCBVyPvLX,1 Bed Condo in UIC Building,Boat Quay / Raffles Place / Marina,5200,1,1,743,5 Shenton Way,7.0,High,...,1096.227,Square 2,149.942,True,False,False,9YzYYyo4fuDrDGCBVyPvLX-5200,ninety_nine,2024-01-26,2024-01-26
19,feEEnZSjq5TZeptDikitTA,3 Bed Condo in Marina Bay Residences,Boat Quay / Raffles Place / Marina,14000,3,3,1625,18 Marina Boulevard,8.0,NaN,...,1732.859,Marina Bay Link Mall,107.281,True,True,True,feEEnZSjq5TZeptDikitTA-14000,ninety_nine,2024-01-26,2024-01-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813,CbcADNxzdUqgXq3ht79EHY,2 Bed Condo in Riverbank @ Fernvale,Seletar / Yio Chu Kang,3400,2,1,900,17 Fernvale Close,3.0,High,...,684.040,The Seletar Mall,654.745,True,True,True,CbcADNxzdUqgXq3ht79EHY-3400,ninety_nine,2024-01-26,2024-01-26
822,DatwPLwMQrcwsmKzRSHCNe,4 Bed House on Alana,Seletar / Yio Chu Kang,8900,4,4,3488,Sunrise Terrace,2.0,NaN,...,1654.839,Greenwich V,1525.216,True,True,False,DatwPLwMQrcwsmKzRSHCNe-8900,ninety_nine,2024-01-26,2024-01-26
827,EgTLH9sz9SZJKZHBeghZqG,3 Bed Exec Condo in The Topiary,Seletar / Yio Chu Kang,4500,3,3,1055,17 Fernvale Lane,4.0,NaN,...,313.276,Greenwich V,340.564,True,True,True,EgTLH9sz9SZJKZHBeghZqG-4500,ninety_nine,2024-01-26,2024-01-26
830,c3crMegeUi6mVAgnqyHbTf,Common Room in 414B Fernvale Link,Seletar / Yio Chu Kang,550,1,0,160,414B Fernvale Link,3.0,NaN,...,571.050,The Seletar Mall,415.867,False,False,False,c3crMegeUi6mVAgnqyHbTf-550,ninety_nine,2024-01-26,2024-01-26
831,jBSMa2qPVipCR9qEYQxajx,4 Room HDB in 469B Sengkang West Way,Seletar / Yio Chu Kang,3500,1,0,1001,469B Sengkang West Way,3.0,NaN,...,432.396,The Seletar Mall,517.213,False,False,False,jBSMa2qPVipCR9qEYQxajx-3500,ninety_nine,2024-01-26,2024-01-26

In [ ]:
db.insert_df("property_listing", new)

In [50]:
db.close()